///////////////// btn
.container {
  width: 100%;
  height: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
  border: 1px solid rgb(255, 255, 255);
  @media (max-width: 1600px) {
    max-width: 1300px;
  }
  @media (max-width: 1240px) {
    max-width: 1000px;
  }
}
/////////////////////////////////
.btn_reset {
  // margin-right: 30px;
  // width: 40px;
  padding: 20px 52px;
  margin-top: 10px;
}

.btn_search {
  background-color: var(--m-primary);
}

.btn_drop {
  width: 100%;
  min-width: 120px;
  height: 40px;
}

.drop_genres {
  width: min(40vw, 480px);
}
.btn_select_genres {
  height: 28px;
  margin: 10px;
}

.drop_status {
  width: min(30vw, 160px);
}
.btn_select_status {
  height: 28px;
  margin: 10px;
  justify-content: start;
  width: 80%;
}

.drop_lang {
  width: min(30vw, 160px);
}
.btn_select_lang {
  height: 28px;
  width: 76%;
  justify-content: start;
  margin: 10px;
}

.drop_sort {
  width: min(30vw, 180px);
  flex-wrap: wrap;
  display: flex;
}
.btn_select_sort {
  height: 28px;
  margin: 10px;
  // align-items: start;
  justify-content: start;
  width: 82%;
}

.drop_chapter {
  max-width: 30vw;
  min-width: 18vw;
  height: 100%;
  display: flex;
  // transform: translate(-44%, -2%);
  // transition: all 3;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 4px;
  max-width: 400px;
  max-height: 70vh;
  font-size: 1rem;
  line-height: 1.7rem;
}
.Word_container {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  opacity: 0.9;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  font-weight: 600;
  transition: color 0.3s, background-color 0.3s;
  padding: 4px 10px 4px 10px;
  // border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.3);
  &:hover {
  }
}
.Chapters_List {
  // width: 100%;
  display: flex;
  flex-flow: column;

  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style: none;
    &:hover {
      opacity: 0.6;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}
////////////////////////////////////////////
.text_field_search {
  width: clamp(40vw, 30%, 60vw);
  height: 40px;
  &:focus {
    outline: none;

    &::-webkit-search-cancel-button,
    &::-webkit-search-clear-button {
      display: none;
    }
    &::-ms-clear {
      display: none;
    }
  }
}
.text_field_slot {
  border: 2px solid var(--m-primary--hover);
  outline: none;
}

///////////////////////////////////////
.badge {
  position: relative;
  cursor: pointer;
  margin-left: 10px;
  svg {
    display: none;
    width: 0.5rem !important;
    margin: 0 2px 0 10px;
    overflow: visible;
    font-size: 1rem;
  }
  &:hover {
    opacity: 0.6;
    svg {
      display: inline !important;
      width: 0.5rem !important;
      margin: 0 !important;
      overflow: visible;
      font-size: 1rem;
    }
  }
}

.badge_manga{
  margin-left: 10px;
&:hover{
  opacity: 1;
}
}