.NavBar_container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  z-index: 9999;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 4px 10px 4px 10px;
  width: 100%;
  max-width: 440px;
  max-height: 40px;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.Noise {
  z-index: -20;
  border-radius: 9999px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(/noise.webp);
  opacity: 0.05;
  mix-blend-mode: overlay;
  pointer-events: none;
}

.NavBar {
  width: 100%;
  z-index: 101;
  display: flex;
  justify-content: space-evenly;
}

.Logo {
  display: flex;
  justify-content: center;
  padding: 1px 10px 1px 10px;
  align-items: center;
  &:hover {
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    padding: 1px 10px 1px 10px;
  }
}
.UserLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 10px 1px 10px;
  &:hover {
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    padding: 1px 10px 1px 10px;
  }
}
.Word_container {
  z-index: 101;
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
  opacity: 0.9;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 4px 10px 4px 10px;
  font-weight: 600;
  transition: color 0.3s, background-color 0.3s;
  &:hover {
    opacity: 0.6;
    padding: 4px 10px 4px 10px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.Search {
  // padding-left: 16px;

  display: flex;
  // padding-top: 20px;
  padding: 3px 14px 3px 16px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: end;
  align-items: center;
  // padding-left: 22px;
  svg {
    width: 22px;
    height: 22px;
    fill: rgb(255, 255, 255);
    &:hover {
      width: 22px;
      height: 22px;
      fill: rgb(150, 150, 150) !important;
      border-radius: 6px;
    }
  }
}

.Word_containerActive {
  z-index: 101;
  display: flex;
  position: relative;
  justify-content: space-between;
  border-radius: 99px;
  padding-right: 20px;
  opacity: 0.9;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 600;
  padding: 4px 10px 4px 10px;
  transition: color 0.3s, background-color 0.3s;
  &:hover {
    opacity: 0.6;
  }
}
.activeLink {
  display: flex;
  justify-content: space-between;
  padding: 4px 0px 4px 10px;
  align-items: center;
  text-decoration: none;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  color: black;
}

.chapter{

  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  // color: black;
}